/* // fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/* // variables  */
/* // variables css */
/* // colors  */
:root {
  --first-color: #0396A6;
  --dark-color: #000;
  --white-color: #F2F2F2;
}

/* // typography */
:root {
  --body-font: 'Open Sans', sans-serif;
  --biggest-font-size: 3.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 7rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/* // z-index */
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* // base */
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* // layout */
.bd-grid {
  max-width: 1200px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-modal);
}



/* // navbar */
.nav {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    left: 0%;
    top: -100%;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 40%;
    padding: 2rem;
    text-align: center;
    z-index: var(--z-fixed);
    -webkit-transition: .3s;
    transition: .3s;
  }
}

.logo-frontPage{
  position: relative;;
  color: var(--white-color);
  width: 34px;
  justify-content: start;
  margin-right: 45px;
}

.nav__logo img{
width: 56px;
    margin: 107px 0 0 35px;
}

.nav__item {
  margin-bottom: 2rem;
}

.nav__link {
  color: var(--white-color);
}

.nav__toggle {
  font-size: 1.5rem;
  color: var(--white-color);
  cursor: pointer;
}

/* // show menu */
.show {
  top: 3rem;
}

/* // home */
.home {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: black;
}

.home__parallax {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 15px solid snow;
}

.home__parallax-img1 {
  /* background-image: url("/src/images/background_img.svg"); */
  z-index: var(--z-normal);
}

.home__parallax-img2 {
  background-image: url("/assets/img/imgm.png");
  z-index: var(--z-tooltip);
}

.home__parallax-img3 {
  background-image: url("/assets/img/imgm.png");
  z-index: var(--z-fixed);
}

.home__parallax-img4 {
  background-image: url("/assets/img/imgm4.png");
  z-index: var(--z-fixed);
}

.home__title, .home__subtitle {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--white-color);
}

.home__title {
  top: 32%;
  font-size: var(--biggest-font-size);
  z-index: var(--z-normal);
}

.home__subtitle {
  top: 44%;
  font-size: var(--h2-font-size);
  font-weight: bold;
  z-index: var(--z-tooltip);
}

.home__scroll {
  position: absolute;
  bottom: 2.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  z-index: var(--z-modal);
}

.home__scroll .bx-mouse {
  color: var(--white-color);
}
/* // section */
.l-section {
  background-color: var(--dark-color);
  border:  15px solid snow;
}

.section {
  height: 100vh;
  max-width: 950px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem 0;
  color: var(--white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__data {
  margin-bottom: 3rem;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: 1rem;
}

.section__img {
  width: 285px;
  border-radius: .5rem;
}

/* // media quires */
@media screen and (min-width: 760px) {
  .nav {
    height: 4rem;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin-right: 3rem;
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .home__title {
    top: 27%;
  }
  .home__subtitle {
    top: 50%;
  }
  .section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
  .section__text {
    padding-right: 4rem;
  }
  .section__img {
    width: 470px;
  }
}

@media screen and (min-width: 1200px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}


/* _________________________________________ */
/* New styles start here  */

/* menu  */
  .menu {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 60% 40%;
    grid-template-areas:
      "item3 item2 item1"
      "item4 item5 item1";
  }
  .menu__item {
    height: 100%;
  }

  .label {
    display: block;
    color: var(--color-item-alt);
    position: absolute;
    z-index: 1000;
    font-size: 0.85rem;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
  }
  .label--topleft {
    top: 2rem;
    left: 2rem;
  }
  .label--vert,
  .label--vert-mirror {
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
  }
  .label--vert-mirror {
    transform: rotate(180deg);
  }
  .label--bottomright {
    bottom: 2rem;
    right: 2rem;
  }
  .label::before {
    content: "------------- ";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: -1px;
    margin: 0 0.75rem 0 0;
  }
  .label--vert::before,
  .label--vert-mirror::before {
    margin: 0.75rem 0;
  }

  .mainmenu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .mainmenu {
    counter-reset: menuitem;
  }
  .mainmenu__item {
    font-size: 7vw;
    text-transform: lowercase;
    overflow: visible;
    margin: 0.5rem 0;
    padding: 0 0.5rem;
    position: relative;
    transition: color 0.3s;
  }
  .mainmenu__item:hover {
    color: var(--color-item-alt);
  }
  .mainmenu__item::before {
    counter-increment: menuitem;
    content: counters(menuitem, "", decimal-leading-zero);
    position: absolute;
    font-size: 0.85rem;
    top: 25%;
    left: -1.25rem;
    color: var(--color-item-alt);
  }
  .mainmenu__item::after {
    content: "";
    width: 100%;
    top: 58%;
    height: 9px;
    background: var(--color-link-hover);
    position: absolute;
    left: 0;
    opacity: 0;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s, opacity 0.3s;
    transform-origin: 100% 50%;
  }
  .mainmenu__item:hover::after {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }

  .menu__item-hoverlink {
    font-size: 1.25rem;
    text-transform: lowercase;
    border-bottom: 2px solid #fff;
    opacity: 0;
    transition: opacity 0.3s;
  }
